@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0%;
}

body {
    background-color: #FFDE00;
}

/*HEADER*/
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;

}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        gap: 25px;

    }

}

a {
    padding: 10px 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 0;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
}



#Letras {
    color: black;
    font-size: 26px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#LogoPokemon {
    background-image: url(../IMG/Logo\ Pokemon.png);
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*HEADER*/

/*MAIN*/
#titulopdp {
    font-family: "Luckiest Guy", cursive;
    font-size: 36px;
    color: #3B4CCA;
    text-align: center;
    padding-top: 20px;
}

#escritapdp {
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    color: #3B4CCA;
    text-align: justify;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

/*MAIN*/

/*FOOTER*/
footer {
    padding-top: 5px;
    width: 100%;
    height: 150px;
    background-color: #ffffff;

    #frase {
        font-family: "Lexend Deca", sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
        padding-top: 10px;
    }

    #Final {
        font-family: "Lexend Deca", sans-serif;
        font-size: 20px;
        color: black;
        text-align: center;
        padding-top: 15px;
    }
}

/*FOOTER*/


/*RESPONSIVIDADE*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /*HEADER*/
    header {
        padding-top: 5px;
        height: 200px;
        font-size: 30px;
        flex-direction: column;
        padding-bottom: 10px;
    }

    ul {
        padding: 0px;
    }

    /*HEADER*/

    /*MAIN*/
    #titulopdp {
        font-size: 20px;
        padding-top: 15px;
        text-align: center;
    }

    #escritapdp {
        font-size: 15px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        text-align: center;
    }

    /*MAIN*/

    /*FOOTER*/
    footer {
        height: 300px;
        width: 100%;

        #frase {
            font-size: 16px;
            padding-top: 20px;
        }

        #Final {
            font-size: 18px;
        }
    }

    /*FOOTER*/
}

@media (max-width: 767px) {

    /*HEADER*/
    header {
        padding-top: 5px;
        height: 460px;
        font-size: 35px;
        flex-direction: column;
        padding-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 0px
    }

    a {
        font-size: 19px;
        text-align: center;
    }

    #Letras {
        justify-content: center;
    }

    #LogoPokemon {
        background-position: center;
        height: 400px;
    }

    /*HEADER*/

    /*MAIN*/
    #titulopdp {
        font-size: 20px;
        padding-top: 15px;
        text-align: center;
    }

    #escritapdp {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        text-align: center;
    }

    /*MAIN*/

    /*FOOTER*/
    footer {
        height: 420px;
        width: 100%;
        
        #frase {
            font-size: 16px;
            padding-top: 20px;
        }

        #Final {
            font-size: 18px;
        }
    }

    /*FOOTER*/
}

/*RESPONSIVIDADE*/
