@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');

.sessao-escuridao {
    background: url("/img/giphy.gif") ;
    display: flex;
    flex-direction: column;
    background-size: cover; 
    height: 100vh;  
}

.titulo-pequeno {
margin-top: 60px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-bottom: -10px;
    

}

.titulo-grande-container {
    display: flex;           
    justify-content: center; 
    height: 150px;     

 }


.titulo-grande {
    font-family: "Flavors", cursive;
    font-size: 120px;
  text-align: center;
    color: #ddb6ee;
    position:absolute;
    font-weight: 300;
}



.titulo-grande.blur {
    color: #b90cd8;
text-align: center;
    filter: blur(5px);
    font-size: 125px;
}



/*header*/ 

*{
    margin: 0%;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;

}

    nav {
      width: 100%;
      display: flex;
      justify-content: center; 
      align-items: center;
    
      ul {
        list-style: none;
        display: flex;
        gap: 25px; 
        
      }
    
      }
    
      a {
        padding: 10px 18px;
        color: #000000;
        text-decoration: none;
        font-weight: 0;
        font-size: 20px;
         font-family: "Lexend Deca", sans-serif;
      }



#Letras {
    color: black;
    font-size: 26px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#LogoPokemon {
    background-image: url(../IMG/Logo\ Pokemon.png);
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}


