@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0;
}



/* Sessão Escuridão */
.sessao-escuridao {
    background: url("../IMG/giphy.gif");
    display: flex;
    flex-direction: column;
    background-size: cover; 
    height: 100vh;  
}

.titulo-pequeno {
    margin-top: 60px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-bottom: -10px;
}

.titulo-grande-container {
    display: flex;           
    justify-content: center; 
    height: 150px;     
}

.titulo-grande {
    font-family: "Flavors", cursive;
    font-size: 120px;
    text-align: center;
    color: #ddb6ee;
    position: absolute;
    font-weight: 300;
}

.titulo-grande.blur {
    color: #b90cd8;
    text-align: center;
    filter: blur(5px);
    font-size: 125px;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px; 
}

nav a {
    padding: 10px 18px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
}

#Letras {
    color: black;
    font-size: 26px;
    text-align: right;
    display: flex;
    align-items: center;
}

#LogoPokemon {
    background-image: url(../IMG/Logo\ Pokemon.png);
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}


/* FOOTER */
.footer {
  background: #f7f7f7;
  padding: 40px 20px;
  margin-top: 40px;
  border-top: 1px solid #ddd;
  font-family: "Lexend Deca", sans-serif;
}

.footer-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.footer-about {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 25px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.footer-links a:hover {
  color: #e60012;
}

.footer-copy {
  font-size: 14px;
  color: #555;
}


/* CARD */
.pokemon-card {
  width: 230px;          
  background: linear-gradient(180deg, #4c0059, #ffffff);
  border-radius: 14px;
  padding: 14px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  transition: transform .2s;
  position: relative;
  min-height: 200px;
  filter: drop-shadow(0 0 10px rgb(139, 0, 209));
}

.pokemon-card:hover {
  transform: translateY(-20px);
  filter: drop-shadow(0 0 10px rgb(139, 0, 209));

  .poke-name {
    color: #ffffff;
    filter: drop-shadow(0 0 10px rgb(30, 0, 56));
  }

  .saibamais {
    color: #720026b4;
  }
}

/* FRENTE */
.cardfrente {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-top: 5px;
}

.poke-img {
  width: 180px;
  height: 160px;
  object-fit: contain;
  
}
.poke-img:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.poke-name {
  text-transform: capitalize;
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: #1f004e
}

.saibamais {
  font-size: 13px;
  color: #9800c2ae;
  opacity: .8;
  text-align: center;
}

/* VERSO */
.cardtras {
  display: none;
  line-height: 1.4;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;          
}

.cardtras p {
  margin: 6px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.poke-id {
  display: block;
  font-size: 12px;
  color: #666;
  margin-bottom: 6px;
}

/* ABERTO */
.pokemon-card.open .cardfrente {
  display: none;
}

.pokemon-card.open .cardtras {
  display: flex;
}

/* GRID */
.pokemon-grid {
  
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;  
  align-items: center;
  
}


strong {
  color: #c70049;
}




/* RESPONSIVIDADE */
@media screen and (min-width: 768px) and (max-width: 1140px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 15px;
  }

  nav ul {
    gap: 15px;
  }

  #LogoPokemon {
    width: 180px;
    height: 180px;
    margin: -50px;
  }

  
  .pokemon-grid {
    grid-template-columns: repeat(3, 260px);
    gap: 7px;
    justify-content: center;
    margin-left: 10px;
  }

  .footer {
    padding: 30px 15px;
  }

  .footer-about {
    font-size: 14px;
  }

  .footer-copy {
    font-size: 13px;
  }

  /* cards*/

  .pokemon-card {
    width: 220px;
  }


}

@media screen and (min-width: 548px) and (max-width: 767px) {
  header {
    height: auto;
    padding: 25px 0;
    gap: 20px;
    flex-direction: column;
  }

  nav ul {
    gap: 12px;
    text-align: center;
  }

  a {
    font-size: 17px;
    text-align: center;
  }

  #LogoPokemon {
    width: 150px;
    height: 150px;
    background-position: center;
    margin: -50px;
  }

  
  #Letras {
    justify-content: center;
    font-size: 20px;
  }

  .pokemon-card {
    width: 200px;
    min-height: 300px;
  }
  .pokemon-grid {
    grid-template-columns: repeat(2, 230px);
    gap: 18px;
    margin: 20px;
    margin-left: 40px;
  }

  .poke-img {
    width: 180px;
    height: 200px;
  }

  .footer {
    padding: 25px 10px;
  }

  .footer-about {
    font-size: 13px;
    line-height: 1.4;
  }

  .footer-links {
    flex-direction: column;
    gap: 12px;
  }

  .footer-copy {
    font-size: 12px;
  }
}




@media screen and (min-width: 200px) and (max-width: 547px) {
  header {
    height: auto;
    padding: 25px 0;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
  }

  nav ul {
    gap: 0.01cm;
    text-align: center;
  }

.sessao-escuridao {
    background: url("../IMG/giphy.gif");
    display: flex;
    flex-direction: column;
    background-size: cover; 
   width: 100%;
    height: 100vh;
}


header nav a {
  font-size: 14px;   /* tamanho menor para mobile */
  text-align: center;
  margin: -9px;
  background: none;  /* evita fundo aquamarine */
}
  a {
    text-align: center;
    text-decoration:underline gray;
    background-color: aquamarine;
  }

  #LogoPokemon {
    width: 150px;
    height: 180px;
    background-position: center;
    margin: -50px;
  }

  .titulo-grande {
    font-size: 90px;
  }

  .titulo-grande.blur {
    font-size: 92px;
}

  
  #Letras {
    justify-content: center;
    font-size: 20px;
  }

  .pokemon-card {
    width: 90%;                   /* ocupa quase toda a largura da tela */
    max-width: 300px; 
  }
  .pokemon-grid {
    grid-template-columns: 1fr;   /* um card por linha */
    gap: 18px;
    margin: 20px auto;            /* centraliza horizontalmente */
    justify-items: center; 
  }

  .poke-img {
    width: 240px;
    height: 200px;
    margin-bottom: 30px;
  }

  .footer {
    padding: 25px 10px;
  }

  .footer-about {
    font-size: 13px;
    line-height: 1.4;
  }

  .footer-links {
    flex-direction: column;
    gap: 12px;
  }

  .footer-copy {
    font-size: 12px;
  }
}



