@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0%;
}

body {
    background-image: url(../IMG/Fundo.png);
}

/*HEADER*/
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;

}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        gap: 25px;

    }

}

a {
    padding: 10px 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 0;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
}



#Letras {
    color: black;
    font-size: 26px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#LogoPokemon {
    background-image: url(../IMG/Logo\ Pokemon.png);
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*HEADER*/



/*FOOTER*/
footer {
    padding-top: 5px;
    width: 100%;
    height: 190px;
    background-color: #ffffff;

    #frase {
        font-family: "Lexend Deca", sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
        padding-top: 10px;
    }

    #Final {
        font-family: "Lexend Deca", sans-serif;
        font-size: 20px;
        color: black;
        text-align: center;
        padding-top: 15px;
    }
}

/*FOOTER*/