

*{
    margin: 0%;
}

body {
    
    background-color: aqua;
}

header {
    background-image: url();
    background-color: #ffff;
    width: 100%;
    height: 50px;

    text-align: right;
    display: flex;
    justify-content:space-around


}