@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');

.sessao-escuridao {
    background: url("/img/giphy.gif") ;
    display: flex;
    flex-direction: column;
    background-size: cover; 
    height: 100vh;  
}

.titulo-pequeno {
margin-top: 60px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-bottom: -10px;
    

}

.titulo-grande-container {
    display: flex;           
    justify-content: center; 
    height: 150px;     

 }


.titulo-grande {
    font-family: "Flavors", cursive;
    font-size: 120px;
  text-align: center;
    color: #ddb6ee;
    position:absolute;
    font-weight: 300;
}



.titulo-grande.blur {
    color: #b90cd8;
text-align: center;
    filter: blur(5px);
    font-size: 125px;
}



/*header*/ 

*{
    margin: 0%;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;

}

    nav {
      width: 100%;
      display: flex;
      justify-content: center; 
      align-items: center;
    
      ul {
        list-style: none;
        display: flex;
        gap: 25px; 
        
      }
    
      }
    
      a {
        padding: 10px 18px;
        color: #000000;
        text-decoration: none;
        font-weight: 0;
        font-size: 20px;
         font-family: "Lexend Deca", sans-serif;
      }

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0%;
}

body {
    background-image: url(../IMG/Fundo.png);
}

/*HEADER*/
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;

}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        gap: 25px;

    }

}

a {
    padding: 10px 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 0;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
}



#Letras {
    color: black;
    font-size: 26px;
    text-align: right;
    display: flex;
    align-items: center;


#LogoPokemon {
    background-image: url(../IMG/Logo\ Pokemon.png);
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}


/*cards*/
#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  max-width: 1200px;
  margin: 40px auto;
}

/* ---------------- CARD ---------------- */

.pokemon-card {
    background: linear-gradient(180deg, #BC36FF, #D5D5D5);
    border-radius: 14px;
    padding: 14px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    transition: transform .2s;
    position: relative;
}

.pokemon-card:hover {
    transform: translateY(-6px);
}

/* FRENTE */
.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-top: 5px;
}

.poke-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background-color: rgb(229, 221, 235) o;
  
}

.poke-name {
  text-transform: capitalize;
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

.know-more {
  font-size: 13px;
  opacity: .8;
  color: rgb(200, 0, 245);
}

/* VERSO */
.card-back {
  display: none;
  font-size: 16px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.card-back p {
  margin: 6px 0;
}

/* QUANDO ABRE */
.pokemon-card.open .card-front { display: none; }
.pokemon-card.open .card-back { display: block; }

/* Aplica fonte Lexend a tudo */
.pokemon-card,
.pokemon-card * {
  font-family: "Lexend Deca", sans-serif;
}
=======
/*HEADER*/



/*FOOTER*/
footer {
    padding-top: 5px;
    width: 100%;
    height: 190px;
    background-color: #ffffff;

    #frase {
        font-family: "Lexend Deca", sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
        padding-top: 10px;
    }

    #Final {
        font-family: "Lexend Deca", sans-serif;
        font-size: 20px;
        color: black;
        text-align: center;
        padding-top: 15px;
    }
}

/*FOOTER*/


/*RESPONSIVIDADE*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    /*HEADER*/
    header {
        padding-top: 5px;
        height: 200px;
        font-size: 30px;
        flex-direction: column;
        padding-bottom: 10px;
    }
    
    ul {
        padding: 0px;
    }
    
    /*HEADER*/
        /*FOOTER*/
    footer {
        height: 300px;
        width: 100%;
        
        #frase {
            font-size: 16px;
            padding-top: 20px;
        }
        
        #Final {
            font-size: 18px;
        }
    }
    
    /*FOOTER*/
}

@media screen and (max-width: 767px) {
    
    /*HEADER*/
    header {
        padding-top: 5px;
        height: 460px;
        font-size: 35px;
        flex-direction: column;
        padding-bottom: 10px;
    }
    
    nav ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 0px
    }
    
    a {
        font-size: 19px;
        text-align: center;
    }
    
    #Letras {
        justify-content: center;
    }
    
    #LogoPokemon {
        background-position: center;
        height: 400px;
    }
    
    /*HEADER*/

       /*FOOTER*/
    footer {
        height: 420px;
        width: 100%;
        
        #frase {
            font-size: 16px;
            padding-top: 20px;
        }

        #Final {
            font-size: 18px;
        }
    }

    /*FOOTER*/
}

/*RESPONSIVIDADE*/
